.yin-yang { 
	width: 192px; 
	box-sizing: content-box; 
	height: 96px; 
	background: white; 
	border-color: black; 
	border-style: solid; 
	border-width: 4px 4px 100px 4px; 
	border-radius: 100%; 
	position: relative; 
} 
.yin-yang:before { 
	content: ""; 
	position: absolute; 
	top: 50%; 
	left: 0; 
	background: white; 
	border: 36px solid black; 
	border-radius: 100%; 
	width: 24px; 
	height: 24px; 
	box-sizing: content-box; 
}
.yin-yang:after { 
	content: ""; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	background: black; 
	border: 36px solid white; 
	border-radius: 100%; 
	width: 24px; 
	height: 24px; 
	box-sizing: content-box; 
}
